body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#section1 {
    background-color: #231651;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 1% 2.5%;
    
}

#section1rect {
    color: #d6fff6;
    font-size: 125%;
}

#webcam-container {
    background-color: #231651;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10% 5% 0% 5%;
}

#label-container {
    background-color: #231651;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1% 5% 1% 5%;
}

#percentages {
    color: #d6fff6;
    font-size: 125%;
    text-align: left;
}

#treatment {
    .chatContainer {
        
    }
}

/* #section2 {
    color: #231651;
    
}

#webcam-container {
    background-color: #231651;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10% 5% 1% 5%;
    
}

#label-container {
    color: #231651;
    display: flex;
}

#top-result {
    background-color: #231651;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

#treatment {
    background-color: #231651;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */